* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.card {
  background: white;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}
.card:hover {
  background: #b8c4c6;
}
.card img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-bottom: 15px;
}
.card h2,
h4 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: crimson;
}
.card p {
  color: rgba(56, 50, 50, 0.659);
  margin-bottom: 10px;
}
.card .btn {
  background: #0b1fd3;
  color: rgb(17, 143, 33);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.card .btn:hover {
  background: #4c61a5;
}
.newfont {
  font-size: 60px;
  padding: 40px 55px;
  color: white;
}
